.label {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     width: 1283px;
  
    &-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      line-height: 2em;
      font-size: 1.2em;
      margin-left: 40px;
      font-size: 30px;
    }
  }